node_modules/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.copilot/
.dotnet/
.gitconfig
.landscape/
.local/
.motd_shown
.npm/
.opencode/
.profile
.sudo_as_admin_successful
.vscode-server/
.wget-hsts
